body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.bg {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 300px 0;     
    text-align: center;
}
h1 {
    color: #ffffff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}
h1 + p {
    color: #ffffff;    
    text-transform: uppercase;
}
h2 {
    color: #404149;
    font-size: 36px;
    text-transform: uppercase;    
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
}
.wrapper-grey {
    background-color: #F7F7F7;         
}
.stat {
    text-align: center; 
    display: flex;
    justify-content: space-between; 
    max-width: 900px; 
    margin: -150px auto 0;         
}
.stat-item h2 {
    font-size: 72px;
    color: #F7654A;
}
.stat-item h3 {
    font-size: 36px;
}
.stat-item p {
    color: #999999;
}
.party { 
    border: 0px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 0;
} 
.party > div {
    flex-basis: 32%;
    max-width: 32%;
}
.party img {
    width: 100%;
} 
.party-item {
    text-align: left;   
}
.party-item h3 {
    color: #404149;
    font-size: 24px;
}
.wrapper-party {
    border: 0px solid #000;
    margin: 80px auto 0;
}
.linered {
    margin-top: 40px;
    border: 0px solid #000;
    height: 6px;
    width: 55px;
    background-color: #F7654A;
}
.redlinemiddle {
    margin: 100px auto 0;
    background-color: #F7654A;
     /*height: 181px;*/
}
.redlinemiddle h2 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;   
    letter-spacing: 0.02em; 
}
.redlinemiddle h3 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.02em;
}
.redlinemid {
    border: 0px solid #000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.redlinemidtext {
    border: 0px solid #000;
}
.redlinemidpost {
    border: 0px solid #000;
   /* padding-top: 65px; */
}
.cell {
    font-size: 14px;    
    letter-spacing: 0.05em;
}
.cell img {
    padding: 0 20px 0 0;
}
button {
    border-width: 0px;
    width: 175px;
    height: 50px;
}
.wrapper-whot {
    border: 0px solid #000;
    margin: 100px auto 0;
}
.wrapper-whot h2 {
    color: #000;
}
.whatdo {    
    display: grid;
    grid: "a b c"
          "d f e";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.whatdo-item-grey {
    background-color: #F7F7F7;
    height: 190px;    
    padding-top: 60px;
    border: 0px solid #000;
}
.foto {
    margin: 100px auto 0;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}
.foto-item img {
    width: 100%;
    height: 100%;
}
.foto-item {
    height: 100%;   
    position: relative;
}
.foto-item::before {
    content: '';
    background-color: rgba(64, 65, 73, 0.5);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.foto-item:hover::before {
    background-color: rgba(64, 65, 73, 0);
}